<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Spot Spots!</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <!--MapBox-->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <!-- Libraries:  Jquery, Underscore, Backbone, App -->
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>

    <!--App-->
    <script src='/javascripts/app.js'></script>


    <style>
        body {
            margin:0;
            padding:0;
        }

        #map {
            position:absolute;
            top:0;
            bottom:0;
            width:100%;
        }

        .leaflet-control-zoomslider-knob {
            width:14px;
            height:6px;
        }

        .leaflet-container .leaflet-control-zoomslider-body {
            -webkit-box-sizing:content-box;
            -moz-box-sizing:content-box;
            box-sizing:content-box;
        }
    </style>
</head>

<body>
<!-- Leaflet Plugins: Omnivore for geoJSON parsing-->
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

<!-- Leaflet Plugins: Zoomslider for zoom bar-->
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.css' rel='stylesheet' />

<!-- Leaflet Plugins: minimap for overwatch views-->
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.css' rel='stylesheet' />

<div id='map'></div>

<script>

//    // Backbone App for Signs
//    var App = {
//        Models: {},
//        Collections: {},
//        Views: {}
//    };
//
//    App.Models.Sign = Backbone.Model.extend({});
//
//    App.Collections.Signs = Backbone.Collection.extend({ model: App.Models.Sign });
//
//    App.Views.SignView = Backbone.View.extend({
//        initialize: function(options) {
//            this.map = options.map;
//            this.sign = L.marker([
//                this.model.get('longitude'),
//                this.model.get('latitude')
//            ]);
//        },
//        render: function() {
//            this.sign.addTo(this.map);
//            this.sign.on('click', this.onClick);
//        },
//        onClick: function() {
//            alert("click");
//        }
//    });

    // Map created with Mapbox
    L.mapbox.accessToken = 'pk.eyJ1IjoiamFtZXNsaXVtYXBzIiwiYSI6InhLTDh6eUEifQ.mpBGKMabJ51bqz0kktgoEA';
    var map = L.mapbox.map('map', 'jamesliumaps.kfii0fpm', { zoomControl: false })
            .on('ready', function() {
                // Minimap
                new L.Control.MiniMap(L.mapbox.tileLayer('jamesliumaps.kfii0fpm'))
                        .addTo(map);
                // Zoomslider
                new L.control.zoomslider()
                        .addTo(map);
            });

</script>


</body>

</html>
